<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        
        <!-- Above root tag is changed i.e;dtd for  spring ctrl+F  context-->
        <!-- The below line specifies the spring container to scan that package so that it come to know that we are using annotations-->
        <context:component-scan base-package="com.psl.training"></context:component-scan>
        
    <bean name="emp" class="com.psl.training.ContractEmployee">
		<property name="id" value="553"></property>
		<property name="name" value="Kavitha"></property>
	</bean>
	
	<bean name="reg_emp" class="com.psl.training.RegularEmployee">
		<property name="id" value="556"></property>
		<property name="name" value="Greeshma"></property>
	</bean>
	
	<bean name="add" class="com.psl.training.PermanentAddress">
		<property name="pincode" value="523303"></property>
		<property name="cityname" value="Ongole"></property>
		<property name="streetname" value="Islampet"></property>
	</bean>
	
	<bean name="add1" class="com.psl.training.CurrentAddress">
		<property name="pincode" value="523306"></property>
		<property name="cityname" value="Tenali"></property>
		<property name="streetname" value="GandhiNagar"></property>
	</bean>

</beans>